<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary">Detalhes do curso</mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="courseForm" class="min-width">
      <mat-form-field class="full-width mt-1" appearance="outline">
        <input matInput placeholder="Nome" formControlName="name">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <input matInput placeholder="Categoria" formControlName="category">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="justify-end actions-margin">
    <button mat-raised-button color="warn" class="mr-1" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button (click)="onSubmit()">Salvar</button>
  </mat-card-actions>
</mat-card>
